
<style>
    bak{
        background-color: rgb(242, 246, 247);
        border-radius: 3px;
        border: solid 1px rgb(173, 172, 172)
    }
</style>

<div class="container"
fxLayout
fxLayout.xs="column"
fxLayoutAlign="right"
fxLayoutGap="2px"
fxLayoutGap.xs="0">

<p class="nav1"></p>


<div class="item item-1" fxFlex >
         <div class="inner1">
                <div class="panel panel-success">
                        <p-dialog [style]="{'margin-left':'30px', 'border-radius': '3px', 'border' : 'solid 1px rgb(173, 172, 172)', 'background-color': 'rgb(242, 246, 247)', 'margin-right':'30px'}" [contentStyle]="{'overflow':'visible'}" modal="modal" width="700" [responsive]="true"  [(visible)]="display">
                                <div class="panel panel-success">
                                        <div class="panel-heading">
                                            <h5 class="panel-title">Quotation Details</h5>           
                                        </div> 
                            <div class="panel-body">
                            <table class="table condensed" style="text-align:left" *ngFor="let quick of mquote | async" scope="row">
                              
                                    <tr>
                               
                                            <td width="55%"><b>Dcon Number:</b></td>
                                            <td width="45%">{{quick.DCON_NO}}</td>
                                            </tr>
                                <tr>
                               
                                  <td width="55%"><b>Class:</b></td>
                                  <td width="45%">{{quick.CLASS_DESCRIP}}</td>
                                  </tr>

                                  <tr>
                               
                                        <td width="55%"><b>Branch Agent:</b></td>
                                        <td width="45%">{{quick.BRANCH_AGENT}}</td>
                                        </tr>
                                 
                                      <tr>
                               
                                       <td width="71%"><b>Sum Insured:</b></td>
                                      <td width="29%">{{quick.INSURED_AMOUNT}}</td>
                                      </tr>
                                      <tr>
                               
                                          <td width="20%"><b>cover From:</b></td>
                                         <td width="70%">{{quick.PERIOD_FROM | date: 'dd/MM/yyyy'}} </td>
                                        
                                         </tr>
                                         <tr>
                                              <tr>
                               
                                                      <td width="71%"><b>Cover To:</b></td>
                                                     <td width="29%">{{quick.PERIOD_TO | date: 'dd/MM/yyyy'}}</td>
                                                     </tr>
                                                    
                                          
                                           <tr>
                                          <td width="71%"><b>Total Premium:</b></td>
                                         <td width="29%">{{quick.DRCR_LC_PREMIUM | number:'1.0-2'}}</td>
                                         </tr>
                
                
                            </table>
                        
                                   
                      </div>
                      <p-footer>
                            <button type="button" pButton icon="fa-check" (click)="display=false" class="btn btn-primary">Close</button>
                            
                        </p-footer>
                </div>
                    </p-dialog>
                        <div class="panel-heading">
                            <h5 class="panel-title">Quotation Summary</h5>           
                        </div>
            <div class="reg">  
                    <div class="table-responsive">  
                    <table class="table table-fixed1" border="1"  cellpadding="2" cellspacing="1" >

                        <thead class="thead-default" id="listTableHeader">
                           <th  >Quotation Number</th>
                           
                            <th>Period From</th>
                            <th >Period To</th>
                            <th> Action</th>
                          
                            
                         </thead>
                    <tbody>  
                    <tr *ngFor="let pol of myquotations | async" scope="row">  
                            <td>{{pol.POLICY_NO}}</td>  
                            
                            <td>{{pol.PERIOD_FROM | date: 'dd/MM/yyyy'}}</td>  
                            <td>{{pol.PERIOD_TO | date: 'dd/MM/yyyy'}}</td>  
                            <td>
                            <div>
                                   <button class="btn btn-primary" (click)="onSelect($event.target.value); showDialog()" value={{pol.DCON_NO}}>Details </button>
                           </div>
                           </td>
                           
                    </tr>  
                    </tbody> 
                 </table>				
                </div>   
               
         </div>  
         
     
         </div>
         </div>
</div>
    

<div class="item item-3" fxFlex="0%"> </div>
  
<div class="item item-2" fxFlex="0%" fxFlexOrder="3">   </div> 
       
</div>


