<div class="inner1">
                <div class="panel panel-success">
                                <div class="panel-heading1">
                                    <h5 class="panel-title"></h5>           
                                </div> 
        <div class="query">       

                <form name="form" (ngSubmit)="f.form.valid && saveClaim()" #f="ngForm" novalidate>
                        <table class="tabb">
                                <tr>
                                        <td>
                                                <tr class="form-group2" [ngClass]="{ 'has-error': f.submitted && !CLAIMANT.valid }">
                                                        <td>Claimant:</td>
                                                        <td>
                                                                <input type="text" class="form-control" name="CLAIMANT" [(ngModel)]="model.CLAIMANT" #CLAIMANT="ngModel" readonly />
                                                                <div *ngIf="f.submitted && !CLAIMANT.valid" class="help-block">Name is needed</div>
                                                        </td>

                                                </tr>
                                                <br>
                                                <tr class="form-group2">

                                                                <td>Policy Type:</td>
                                                                <td>
                                                                                <div class="pro_sel">
                                                                                                <select class="form-control" name="POLICY_NO" [(ngModel)]="model.POLICY_NO">
                                                                                                        <option value="0" >--Select--</option>
                                                                                                        <option *ngFor="let pol1 of policies | async" scope="row"  value= {{pol1.POLICY_NO}} >
                                                                                                                <div> {{pol1.CLASS_DESCRIP}}({{pol1.POLICY_NO}}) </div>
                                                                                                  </option>
                                                                                                      </select>
                                                                                                     </div>
                                                                 </td>
        
                                                        </tr> <br>
                                                <tr class="form-group2">

                                                        <td> Confirm Policy No:</td>
                                                        <td>
                                                                        <div class="pro_sel">
                                                                                        <select class="form-control" name="PDOC_NO" [(ngModel)]="model.PDOC_NO" (change)="onSelect($event.target.value)">
                                                                                                <option value="0" >--Select--</option>
                                                                                                <option *ngFor="let pol of policies | async" scope="row"  value= {{pol.DCON_NO}} >
                                                                                                        <div> {{pol.POLICY_NO}} </div>
                                                                                          </option>
                                                                                              </select>
                                                                                             </div>
                                                         </td>

                                                </tr> <br>
                                                <tr class="form-group2" *ngFor="let dcon of risks | async" scope="row">

                                                        
                                                        <td>Policy Reference No:</td>
                                                        <td name="DCON_NO" [(ngModel)]="model.DCON_NO">
                                                                <div style="margin-left:20px" class="pro_sel">
                                                                     <input  type="text"  value= {{dcon.DCON_NO}} />
                                                                </div> 
                                                         </td>

                                                </tr> <br>
                                                <tr class="form-group2" *ngFor="let section of risks | async" scope="row" >

                                                                <td>RiskId</td>
                                                                <td name="RISK_ID" [(ngModel)]="model.RISK_ID">
                                                                      <div style="margin-left:20px" class="pro_sel" >
                                                                           <input type="text"  value= {{section.RISK_ID}} />
                                                                       </div> 
                                                                </td>                                                                
        
                                                        </tr>
                                                <br>
                                                <tr class="form-group2" >

                                                        <td> Policy Class</td>
                                                        <td>
                                                                        <div class="pro_sel">
                                                                                        <select  class="form-control" name="CLASS_CODE" [(ngModel)]="model.CLASS_CODE">
                                                                                                <option *ngIf='selectedPolicy.DCON_NO == null' value="0" >--Select--</option>
                                                                                                <option *ngFor="let class of risks | async" scope="row"  value= {{class.RISK_CLASS}} >{{class.RISK_CLASS}}</option>
                                                                                              </select>
                                                                                              
                                                                                </div> 
                                                        </td>                                                                

                                                </tr>
                                        <br>
                                                
                                                <tr class="form-group2" [ngClass]="{ 'has-error': f.submitted && !CLAIMANT_CONTACT.valid }">

                                                        <td>Claimant Contact:</td>
                                                        <td>
                                                                <input type="text" class="form-control" name="CLAIMANT_CONTACT" [(ngModel)]="model.CLAIMANT_CONTACT" #CLAIMANT_CONTACT="ngModel" readonly />
                                                                <div *ngIf="f.submitted && !CLAIMANT_CONTACT.valid" class="help-block">CONTACT is needed</div>
                                                        </td>

                                                </tr>
                                                <br>
                                                
                                              
                                        
                                        </td>
                                        <td style="width:50%">       
                                                        <tr class="form-group2" [ngClass]="{ 'has-error': f.submitted && !OCCURRENCE_DATE.valid }">

                                                                        <td>Occurance Date</td>
                                                                        <td>
                                                                                <input type="date" class="form-control" name="OCCURRENCE_DATE" [(ngModel)]="model.OCCURRENCE_DATE" #OCCURRENCE_DATE="ngModel" required />
                                                                                <div *ngIf="f.submitted && !OCCURRENCE_DATE.valid" class="help-block">Date is needed</div>
                                                                        </td>
                
                                                                </tr>
                                                                <br>                                             
                                                                <tr class="form-group2" [ngClass]="{ 'has-error': f.submitted && !CLAIM_LOCATION.valid }">
                
                                                                        <td>Accident location:</td>
                                                                        <td>
                                                                                <input type="text" class="form-control" name="CLAIM_LOCATION" [(ngModel)]="model.CLAIM_LOCATION" #CLAIM_LOCATION="ngModel" required />
                                                                                <div *ngIf="f.submitted && !CLAIM_LOCATIONvalid" class="help-block">LOCATION is needed</div>
                                                                        </td>
                
                                                                </tr>
                                                                <br>
                
                                                                <tr class="form-group2" [ngClass]="{ 'has-error': f.submitted && !NARRATION.valid }">
                
                                                                        <td>Narration</td>
                                                                        <td>
                                                                                <textarea class="form-control" name="NARRATION" [(ngModel)]="model.NARRATION" #NARRATION="ngModel"></textarea>
                                                                                <div *ngIf="f.submitted && !NARRATION.valid" class="help-block">NARRATION is needed</div>
                                                                        </td>
                
                                                                </tr>
                                                                <br>
                                                                <tr class="form-group2">
                
                                                                        <td>Nature of Accident:</td>
                                                                        <td>
                                                                                        <div class="pro_sel">
                                                                                                        <select  class="form-control" name="NATURE_OF_ACCIDENT" [(ngModel)]="model.NATURE_OF_ACCIDENT">
                                                                                                                <option value="0" >--Select--</option>
                                                                                                                <option *ngFor="let sec of nature | async" scope="row"  value= {{sec.CODE_DESCRIPTION}} >{{sec.CODE_DESCRIPTION}}</option>
                                                                                                              </select>
                                                                                                              
                                                                                                </div> 
                                                                        </td>
                
                                                                </tr>
                                                                <br>
                                                                <tr class="form-group2">
                
                                                                        <td>Accident Caused By:</td>
                                                                        <td>
                                                                                        <div class="pro_sel">
                                                                                                        <select  class="form-control" name="CAUSE_CODE" [(ngModel)]="model.CAUSE_CODE">
                                                                                                                <option value="0" >--Select--</option>
                                                                                                                <option *ngFor="let cau of cause | async" scope="row"  value= {{cau.CODE_DESCRIPTION}} >{{cau.CODE_DESCRIPTION}}</option>
                                                                                                              </select>
                                                                                                              
                                                                                                </div> 
                                                                        </td>
                
                                                                </tr>
                                                                <br>
                                                                <tr class="form-group2" >
                
                                                                                <td>Estimated Loss:</td>
                                                                                <td>
                                                                                        <input type="number" class="form-control" name="ESTIMATED_LOSS" [(ngModel)]="model.ESTIMATED_LOSS" />
                                                                                       
                                                                                </td>
                        
                                                                        </tr>
                                                                        <br>
                                                                        <tr>
                        
                                                                                <td></td>
                                                                                <td>
                                                                                        
                                                                                </td>
                        
                                                                        </tr>
                                                                        <br>
                                                              
                                              
                                        </td>
                                </tr>

                        </table>
                        <div class="form-group">
                                <button [disabled]="loading" class="btn btn-primary">submit</button>
                                <a [routerLink]="['/profile']" class="btn btn-link">Cancel</a>
                        </div>
                </form>
                <div>
                        </div>
                </div>