<!--<div class="footer1">
        <table>
                <th class="nav1">
                        
                      </th>
            <tr>
                
                <td class="profile">
                        <h3>Welcome:.<br>{{currentUser.firstName}}</h3>
                        <p><img src="../assets/Preloader1.gif" alt="Welcome"/></p>
                        <p><u>Edit/View Profile</u></p>
                </td>
                <td class="link" style="text-align:left">
                    <img src="../assets/cover.jpeg" alt="">
                </td>
                <td class="logout">
                        
                </td>
            </tr>
        </table>
        <h3>All registered users:</h3>
                        <ul>
                             <li *ngFor="let user of users">
                                {{user.username}} ({{user.firstName}} {{user.lastName}})
                                - <a (click)="deleteUser(user.id)">Delete</a>
                            </li>
                        </ul> 
    </div>


<div class="container">
    <div class="row">
        <table class="table">
            <thead class="thead-inverse">
            <tr>
                <th class="text-center">EMPLOYEE ID</th>
                <th class="text-center">CUSTOMER NAME</th>
                <th class="text-center">EMAIL</th>
                
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let claims of claims">
                <td class="text-center" style="width: 15px;">{{claims.employee_id}}</td>
                <td class="text-center" style="width: 15px;">{{claims.first_name}}</td>
                <td class="text-center" style="width: 200px;">{{claims.email}}</td>
                
            </tr>
            </tbody>
        </table>
       <!-- <div>
            <ul class="items">
                <li *ngFor="let claims of claims">
                    <span>{{claims.first_name}}</span>
                </li>
            </ul>
        </div> 
    </div>
</div>
-->
<div class="footer1">
       <p class="nav1"></p>
       <table>
           <tr>
               <td>
             <div class="user">
                    <p>Welcome:<br>{{currentUser.email}}</p>
                    <p><img src="../assets/Preloader1.gif" alt="Welcome"/></p>
                    <p><u>Edit/View Profile</u></p>
                    <ul style="text-align:left">
                            <p><strong><i>Useful Links</i></strong></p>
                            <li>
                                <a [routerLink]="['/products']">View Products</a>
                            </li>
                            <li>
                                <a [routerLink]="['/quatations']">Request/View Quatation</a>
                            </li>
                            <li>
                               <a [routerLink]="['/policies']">View Ploicies</a>
                            </li>
                            <li>
                                <a [routerLink]="['/claims']">Notify/View Claims</a>
                            </li>
                            <li>
                                <a [routerLink]="['/query']">Post Query</a>
                            </li>
                            <li>
                                <a [routerLink]="['/profile']">view Profile</a>
                            </li>
                            <li>
                                <a [routerLink]="['/renew']">Renew your policy</a>
                            </li>
                            <li>
                                    <a [routerLink]="['/modal']">Pop Up</a>
                            </li>
                        </ul>
               </div>
                   
               </td>

            <td>
                <div class="inner">
                    <table class="tabb">  
                            <tr>
                                <td>            
                                        <div class="table-responsive">  
                                        <table class="table ">  
                                        <thead class="thead-default">  
                                        <th item-width="200">ID</th>  
                                        <th>NAME</th>  
                                        <th>EMAIL</th>    
                                        <th>ACTION</th>  
                                        </thead>  
                                        <tbody>  
                                        <tr *ngFor="let cla of claims | async" scope="row">  
                                        <td item-width="200">{{cla.EMPLOYEE_ID}}</td>  
                                        <td>{{cla.FIRST_NAME}}</td>  
                                        <td>{{cla.EMAIL}}</td>   
                                        <td>  
                                        <button type="button" value="Update" class="btn btn-default" (click)='editClaims(cla.EMPLOYEE_ID, cla)'>Update</button>  
                                        <button type="button" value="Delete" class="btn btn-danger" (click)='deleteClaims(cla.EMPLOYEE_ID)'>Delete</button>  
                                        </td>  
                                        </tr>  
                                        </tbody>  
                                        </table>  
                                        </div>  
                                        <div class="col-md-offset-3 col-md-3">  
                                        <a routerLink="/employees" class="btn btn-warning">VIEW EMPLOYEES</a>  
                                        </div>  
                                     </td>
                            </tr>
                        </table>
                </div>          
            </td>
           </tr>
       </table>

</div>
