<style type='text/css'>
    table,
    td {
        border-color: rgb(187, 185, 185);
    }
</style>

<div class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="right" fxLayoutGap="5px" fxLayoutGap.xs="0">

    <div class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="right" fxLayoutGap="5px" fxLayoutGap.xs="0">
        <div class="item item-1" fxFlex="20%">
        </div>

        <div class="item item-2" fxFlex fxFlexOrder="3">
        <div class="panel panel-success" style="border-bottom:solid 3px rgb(138, 135, 135); width:770px">
            <fieldset disabled="disabled"> Kindly Signup with the right informations</fieldset>
          
           </div>
          
        
            <form name="form" (ngSubmit)="f.form.valid && register()" #f="ngForm" novalidate>
                <table border="1" cellpadding="2" cellspacing="1" class="form-group1" style="text-align:left">
                    <tr class="form-group1" [ngClass]="{ 'has-error': f.submitted && !cust_type_code.valid }">
                        <td>
                            <span class="required">*</span>
                            Registration Type:
                        </td>
                        <td>
                            <input type="text" value="company" class="form-control2" name="cust_type_code" [(ngModel)]="model.cust_type_code" #cust_type_code="ngModel" required />
                            <div *ngIf="f.submitted && !cust_type_code.valid" class="help-block">Registration type is required</div>
                        </td>
                    </tr>

                    <tr class="form-group1" [ngClass]="{ 'has-error': f.submitted && !first_name.valid }">
                        <td>
                            <span class="required">*</span>
                            First Name:
                        </td>
                        <td>
                            <input type="text" class="form-control2" name="first_name" [(ngModel)]="model.first_name" #first_name="ngModel" required
                            />
                            <div *ngIf="f.submitted && !first_name.valid" class="help-block">First Name is required</div>
                        </td>
                    </tr>

                    <tr class="form-group1">
                        <td>
                            Middle Name:
                        </td>
                        <td>
                            <input type="text" class="form-control2" name="middle_name" [(ngModel)]="model.middle_name" #middle_name="ngModel" />

                        </td>
                    </tr>

                    <tr class="form-group1" [ngClass]="{ 'has-error': f.submitted && !last_name.valid }">
                        <td>
                            <span class="required">*</span>
                            Last Name:
                        </td>
                        <td>
                            <input type="text" class="form-control2" name="last_name" [(ngModel)]="model.last_name" #last_name="ngModel" required />
                            <div *ngIf="f.submitted && !last_name.valid" class="help-block">last Name is required</div>
                        </td>
                    </tr>

                    <tr class="form-group1">
                        <td>
                            Initials:
                        </td>
                        <td>
                            <input type="text" class="form-control2" name="initials" [(ngModel)]="model.initials" #initials="ngModel" />

                        </td>
                    </tr>

                    <tr class="form-group1" [ngClass]="{ 'has-error': f.submitted && !gender.valid }">
                        <td>
                            <span class="required">*</span>
                            Gender:
                        </td> 
                        <td> <div class="but1">
                            <label class="radio-inline">
                                <input type="radio" value="M" name="gender" [(ngModel)]="model.gender" #gender="ngModel"
                                />Male
                                <br>
                               
                           </label>
                           <label class="radio-inline">
                            <input type="radio" value="F" name="gender" [(ngModel)]="model.gender" #gender="ngModel"
                            />Female
                            
                    </label>
                            <div *ngIf="f.submitted && !gender.valid" class="help-block">Gender specification is required</div>
                             </div>
                            <br>
                        </td> <br>
                    </tr>

                    <tr class="form-group1" [ngClass]="{ 'has-error': f.submitted && !dob.valid }">
                        <td>
                            <span class="required">*</span>
                            Date of birth:
                        </td>
                        <td>
                            <input type="text" class="form-control2" name="dob" [(ngModel)]="model.dob" #dob="ngModel" required />
                            <div *ngIf="f.submitted && !dob.valid" class="help-block">Date of bith is required</div>
                        </td>
                    </tr>
                    <tr class="form-group1">
                        <td>
                            Nationality:
                        </td>
                        <td>
                            <input type="text" class="form-control2" name="nationality" [(ngModel)]="model.nationality" #nationality="ngModel" />

                        </td>
                    </tr>
                    <tr class="form-group1" [ngClass]="{ 'has-error': f.submitted && !id_type.valid }">
                        <td>
                            <span class="required">*</span>
                            Id Type:
                        </td>
                        <td>
                            <div class="but1">
                                <label class="radio-inline">
                                    <input type="radio" value="Passport" name="id_type" [(ngModel)]="model.id_type" #id_type="ngModel"
                                    />Passport
                                    <br>
                                   
                               </label>
                               <label class="radio-inline">
                                <input type="radio" value="National_id" name="id_type" [(ngModel)]="model.id_type" #id_type="ngModel"
                                />National Id
                                
                        </label>
                        <label class="radio-inline">
                            <input type="radio" value="Tin_pin_no" name="id_type" [(ngModel)]="model.id_type" #id_type="ngModel"
                            />Tin / Pin No
                            
                    </label>
                                <div *ngIf="f.submitted && !id_type.valid" class="help-block">Id Type specification is required</div>
                                 </div> <br>
                        </td>
                    </tr>
                    <tr class="form-group1" [ngClass]="{ 'has-error': f.submitted && !id_number.valid }">
                        <td>
                            <span class="required">*</span>
                            Id No:
                        </td>
                        <td>
                            <input type="text" class="form-control2" name="id_number" [(ngModel)]="model.id_number" #id_number="ngModel" required />
                            <div *ngIf="f.submitted && !id_number.valid" class="help-block">Id No is required</div>
                        </td>
                    </tr>


                    <tr class="form-group1" [ngClass]="{ 'has-error': f.submitted && !pin_number.valid }">
                        <td>
                            <span class="required">*</span>
                            TIN / PIN No:
                        </td>
                        <td>
                            <input type="text" class="form-control2" name="pin_number" [(ngModel)]="model.pin_number" #pin_number="ngModel" required
                            />
                            <div *ngIf="f.submitted && !pin_number.valid" class="help-block">Tin / Pin No is required</div>
                        </td>
                    </tr>

                    <tr class="form-group1" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
                        <td>
                            <span class="required">*</span>
                            EMAIL:
                        </td>
                        <td>
                            <input type="email" class="form-control2" name="email" [(ngModel)]="model.email" #email="ngModel" required />
                            <div *ngIf="f.submitted && !email.valid" class="help-block">EMAIL is required</div>
                        </td>
                    </tr>

                    <tr class="form-group1">
                        <td>
                            Telephone No:
                        </td>
                        <td>
                            <input type="text" class="form-control2" name="telephone_no" [(ngModel)]="model.telephone_no" #telephone_no="ngModel" />

                        </td>
                    </tr>

                    <tr class="form-group1" [ngClass]="{ 'has-error': f.submitted && !mobile_no.valid }">
                        <td>
                            <span class="required">*</span>
                            Mobile No:
                        </td>
                        <td>
                            <input type="text" class="form-control2" name="mobile_no" [(ngModel)]="model.mobile_no" #mobile_no="ngModel" required />
                            <div *ngIf="f.submitted && !mobile_no.valid" class="help-block">Mobile No is required</div>
                        </td>
                    </tr>

                    <tr class="form-group1" [ngClass]="{ 'has-error': f.submitted && !phys_address.valid }">
                        <td>
                            <span class="required">*</span>
                            Phycical Adress:
                        </td>
                        <td>
                            <textarea class="form-control2" cols="10" rows="3" name="phys_address" [(ngModel)]="model.phys_address" #phys_address="ngModel"
                                required></textarea>

                            <div *ngIf="f.submitted && !phys_address.valid" class="help-block">Physical Address is required</div>
                        </td>
                    </tr>

                    <tr class="form-group1" [ngClass]="{ 'has-error': f.submitted && !postal_address.valid }">
                        <td>
                            <span class="required">*</span>
                            Postal Address:
                        </td>
                        <td>
                            <input type="text" class="form-control2" name="postal_address" [(ngModel)]="model.postal_address" #postal_address="ngModel" required/>

                            <div *ngIf="f.submitted && !postal_address.valid" class="help-block">Postal Address is required</div>
                        </td>
                    </tr>

                    <tr class="form-group1" [ngClass]="{ 'has-error': f.submitted && !postal_code.valid }">
                        <td>
                            <span class="required">*</span>
                            Postal_code:
                        </td>
                        <td>
                            <input type="text" class="form-control2" name="postal_code" [(ngModel)]="model.postal_code" #postal_code="ngModel" required
                            />
                            <div *ngIf="f.submitted && !postal_code.valid" class="help-block">The Code is required</div>
                        </td>
                    </tr>

                    <tr class="form-group1" [ngClass]="{ 'has-error': f.submitted && !town.valid }">
                        <td>
                            <span class="required">*</span>
                            Town:
                        </td>
                        <td>
                            <input type="text" class="form-control2" name="town" [(ngModel)]="model.town" #town="ngModel" required />
                            <div *ngIf="f.submitted && !town.valid" class="help-block">Town details is required</div>
                        </td>
                    </tr>

                    <tr class="form-group1" [ngClass]="{ 'has-error': f.submitted && !country.valid }">
                        <td>
                            <span class="required">*</span>
                            Country:
                        </td>
                        <td>
                            <input type="text" class="form-control2" name="country" [(ngModel)]="model.country" #country="ngModel" required />
                            <div *ngIf="f.submitted && !country.valid" class="help-block">Country details is required</div>
                        </td>
                    </tr>

                    <tr class="form-group1" [ngClass]="{ 'has-error': f.submitted && !contact_person.valid }">
                        <td class="lable">
                            <span class="required">*</span>
                            Contact Person:
                        </td>
                        <td>
                            <input type="text" class="form-control2" name="contact_person" [(ngModel)]="model.contact_person" #contact_person="ngModel"
                                required />
                            <div *ngIf="f.submitted && !contact_person.valid" class="help-block">Contact details is required</div>
                        </td>
                    </tr>

                    <tr class="form-group1" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
                        <td>
                            <span class="required">*</span>
                            Prefered Username:
                        </td>
                        <td>
                            <input type="text" class="form-control2" name="username" [(ngModel)]="model.username" #username="ngModel" required />
                            <div *ngIf="f.submitted && !username.valid" class="help-block">USERNAME is required</div>
                        </td>
                    </tr>
                    <tr class="form-group1" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
                        <td>
                            <span class="required">*</span>
                            Prefered Password
                        </td>
                        <td>
                            <input type="password" class="form-control2" name="password" [(ngModel)]="model.password" #password="ngModel" required />
                            <div *ngIf="f.submitted && !password.valid" class="help-block">PASSWORD is required</div>
                        </td>
                    </tr>
                </table>
                <br>

                <div class="form-group" style="margin-left:10px">
                    <button [disabled]="loading" class="btn btn-primary">Register</button>
                    <a [routerLink]="['/login']" class="btn btn-link">Cancel</a>
                </div>

            </form>
        </div>

       
    </div>
    <div class="item item-2" fxFlex="10%" fxFlexOrder="3"></div>
</div>