<!--
<div class="footer1">
        <table>
                <th class="nav1">
                        
                      </th>
            <tr>
                
                <td class="profile">
                        <h3>Welcome:.<br>{{currentUser.firstName}}</h3>
                        <p><img src="../assets/Preloader1.gif" alt="Welcome"/></p>
                        <p><u>Edit/View Profile</u></p>
                </td>
                <td class="link" style="text-align:left">
                    <img src="../assets/policies.png" alt="">
                </td>
                <td class="logout">
                        
                </td>
            </tr>
        </table>
        <h3>All registered users:</h3>
                        <ul>
                             <li *ngFor="let user of users">
                                {{user.username}} ({{user.firstName}} {{user.lastName}})
                                - <a (click)="deleteUser(user.id)">Delete</a>
                            </li>
                        </ul> 
    </div>
-->

    <div class="row">  
        <div class="table-responsive">  
        <table class="table ">  
        <thead class="thead-default">  
        <th>ID</th>  
        <th>FIRST NAME</th>  
        <th>LAST NAME</th>
        <th>EMAIL</th>  
        <th>PHONE NUMBER</th>  
        <th>DATE EMPLOYED</th>
        <th>EMPLOYEES JOB ID</th>  
        <th>SALARY</th>  
        <th>COMMISION PAID</th>   
        <th>MANAGER ID</th> 
        <th>DEPARTMENT ID</th>  
        <th></th>  
        </thead>  
        <tbody>  
        <tr *ngFor="let pol of policies | async" scope="row">  
        <td>{{pol.EMPLOYEE_ID}}</td>  
        <td>{{pol.FIRST_NAME}}</td>  
        <td>{{pol.LAST_NAME}}</td> 
        <td>{{pol.EMAIL}}</td>  
        <td>{{pol.PHONE_NUMBER}}</td>  
        <td>{{pol.HIRE_DATE}}</td>
        <td>{{pol.JOB_ID}}</td>  
        <td>{{pol.SALARY}}</td>  
        <td>{{pol.COMMISSION_PCT}}</td>
        <td>{{pol.MANAGER_ID}}</td>  
        <td>{{pol.DEPARTMENT}}</td>  
        </tr>  
        </tbody>  
        </table>  
        </div>  
        <div class="col-md-offset-3 col-md-3">  
        <a routerLink="/home" class="btn btn-warning">Home</a>||||
        <a routerLink="/claims" class="btn btn-warning">EMPLOYEES DETAIL</a>||
          
        </div>  
        </div>  