<div class="footer1">
        <p class="nav1"></p>
        <table>
            <tr>
                <td>
              <div class="user">
                     <h3>Welcome:.<br>{{currentUser.firstName}}</h3>
                     <p><img src="../assets/Preloader1.gif" alt="Welcome"/></p>
                     <p><u>Edit/View Profile</u></p>
                     <ul style="text-align:left">
                             <p><strong><i>Useful Links</i></strong></p>
                             <li>
                                 <a [routerLink]="['/products']">View Products</a>
                             </li>
                             <li>
                                 <a [routerLink]="['/quatations']">Request/View Quatation</a>
                             </li>
                             <li>
                                <a [routerLink]="['/policies']">View Ploicies</a>
                             </li>
                             <li>
                                 <a [routerLink]="['/claims']">Notify/View Claims</a>
                             </li>
                             <li>
                                 <a [routerLink]="['/query']">Post Query</a>
                             </li>
                             <li>
                                 <a [routerLink]="['/profile']">view Profile</a>
                             </li>
                             <li>
                                 <a [routerLink]="['/renew']">Renew your policy</a>
                             </li>
                         </ul>
                </div>
                    
                </td>
 
             <td>
                 <div class="inner">
                     <table class="tabb">  
                             <tr>
                                 <td>            
                                        <form action="" method="post">

                                                <table width="" border="0" align="center" cellpadding="5" cellspacing="1" bgcolor="#336699" class="entryTable">
                                                  <tr id="">
                                                    <td align="center"><strong>Have a problem? Ask INSYNC now</strong></td>
                                                  </tr>
                                                  <tr>
                                                    <td class="contentArea"><div class="errorMessage" align="center"></div>
                                                    <div class="kenya">
                                                        <table width="100%" border="0" cellpadding="2" cellspacing="1" class="text">
                                                          <tr align="center">
                                                            <td colspan="2">&nbsp;</td>
                                                          </tr>
                                                          
                                                          <tr class="">
                                                            <td class="label">&nbsp;Query Type: </td>
                                                            <td class="content">
                                                            <select>
                                                                <option value="hardware"></option>
                                                                <option value="software"></option>
                                                                <option value="network"></option>
                                                          </select>  
                                                          </td>
                                                          </tr>
                                                          <tr class="">
                                                            <td class="label">&nbsp;Query Title: </td>
                                                            <td class="content"><input class="" name="" type="text" class="" id="" value="" size="40" maxlength="100"  required /></td>
                                                          </tr>
                                                
                                                          <tr class="">
                                                            <td valign="top" class="label" align="center">&nbsp;Nature of Problem </td>
                                                            <td class="content"><textarea class="field" name="compDesc" cols="40" rows="6" required ></textarea></td>
                                                          </tr>
                                                
                                                
                                                          <tr>
                                                            <td width="">&nbsp;</td>
                                                            <td width="">&nbsp;</td>
                                                          </tr>
                                                          <tr>
                                                            <td>&nbsp;</td>
                                                            <td><input class="field" name="btnLogin" type="submit" id="btnLogin" value=" Post Query "></td>
                                                          </tr>
                                                      </table>
                                                      </div>
                                                      </td>
                                                  </tr>
                                                </table>
                                                </form>
                                     </td>
                             </tr>
                         </table>
                 </div>
             </td>
            </tr>
        </table>
 
 </div>
 

