
<div>
    <img style="margin-top: 0px" src="../assets/iquiz.png" alt="IQUIZ" width="100" height="100"/>
   <div class="hero_content"><u><strong>IQUIZ TEACHERS LOGIN</strong></u></div>
</div>

<div class="body">
   <!-- <h2 style="text-align:center">
        <a href="#" target="_top"><img style="margin-top: 20px" src="../assets/iquiz.png" alt="INSYNC SOLUTIONS" width="150" height="100" /></a>
         
      </h2>  -->
    <div class="body1"
fxLayout
fxLayout.xs="column"
fxLayoutAlign="right"
fxLayoutGap="5px"
fxLayoutGap.xs="0">

<div class="item item-1" fxFlex="40%" style=" text-transform:capitalize">
 
  <ul style="text-align:left">
  This online portal enables Quizmasters Staffs to :
   <div style="margin-left: 17px">
    <li>Set Quizes for Learners </li>
    <li>Post Topical Revision Materials </li>
    <li>Perform Analysis </li>
    <li>Set Quizes for Particular Schools </li>
    <li>View Questions posted back by learners and Respond Appropriately</li>
   
   </div>
  </ul>

</div>
<div class="item item-2" fxFlex="10%" fxFlexOrder="3">   </div> 
<div class="item item-3" fxFlex style="width: 100%">
          <div style="text-align: center; margin-left: 0px">
            <form class="insync_form-control1" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
              <br>
              <div class="form-group row" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
                <label for="inputEmail3" class="col-sm-2 col-form-label"> Username</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="inputEmail3" name="username" [(ngModel)]="model.username" #username="ngModel" required  placeholder="Username"/>
                  <div *ngIf="f.submitted && !username.valid" class="help-block">Username is required</div>
                </div>
              </div>
              <div class="form-group row" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
                <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
                <div class="col-sm-10">
                  <input type="password" class="form-control" id="inputPassword3" placeholder="Password" name="password" [(ngModel)]="model.password" #password="ngModel" required />
                  <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
                </div>
              </div>            
              
              <div class="form-group row">
                <div class="offset-sm-2 col-sm-10">
                    <div align="center" >
                      <p>  <button [disabled]="loading" class="btn btn-primary">Click To Sign In </button> 
                        <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
                        /></p> 
                    </div>                      
                 
                </div>
              </div>
            </form>
          </div>



</div>
</div>
</div> 

