    <div class="footer" style="text-align:center">
    <div class="box">
    <table>
        <tr>
            <td class="news">
                    <h4 style="text-align:center"><strong><i> This online portal will enable clients and intermediaries to:-</i></strong></h4>
                    <ul>
                           <li>View their Policies</li>
                           <li>Request for Quotations</li>
                            <li>Request for Policy Renewals</li>
                            <li>Notify the Insurer of Claims</li>
                            <li>Monitor the Claims payment process</li>          
                            <li>View profile details including beneficiaries</li>  
                            <li>View member record card with provisional interest</li>      
                    </ul>
            </td>
            <td class="login">
                  
                <form name="form"  class="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
                <p  class="head" style="text-align:center">Sign In to Proceed..</p>
            <label for="username" class="input1" style="text-align:left">Username</label>
            <input type="text" class="input" name="username" [(ngModel)]="model.username" #username="ngModel" required />
            <div *ngIf="f.submitted && !username.valid" class="help-block">Username is required</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !role.valid }">              
                <label for="role" class="input1" style="text-align:left">Role</label>
                <input type="text" class="input" name="role" [(ngModel)]="model.role" #role="ngModel" required />
                <div *ngIf="f.submitted && !role.valid" class="help-block">Role is required</div>
            </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
            <label for="password" class="input1" style="text-align:left">Password</label>
            <input type="password" class="input" name="password" [(ngModel)]="model.password" #password="ngModel" required />
            <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
        </div>
        <div class="form-group">
            <p style="text-align:center">
            <button [disabled]="loading" class="btn btn-primary">Login</button>
            <img *ngIf="loading" src="../assets.preloader.gif" />
            <a [routerLink]="['/register']" class="btn btn-link">Signup</a>
            </p>
        </div>
    </form>
            </td>
        </tr>
    </table>
    </div>
    </div>
    

