
<div class="inner1">
    <h3>Quotation Summary</h3>
        <div class="row">
    
            <div class="col-md-6">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h5 class="panel-title">Quote Details: {{quickSumm.CONTROL_NO}}</h5>           
                    </div>
                    <div class="panel-body">
                          <table class="table condensed" style="text-align:left">
                            <tr>
                             
                                <td width="55%"><b>Quote No:</b></td>
                                <td width="45%">{{quickSumm.QUOTE_NO}}</td>
                                </tr>
                               
                                    <tr>
                             
                                     <td width="71%"><b>Currency:</b></td>
                                    <td width="29%">{{quickSumm.CURRENCY_CODE}}</td>
                                    </tr>
                                    <tr>
                             
                                        <td width="20%"><b>cover From:</b></td>
                                       <td width="70%">{{quickSumm.PERIOD_FROM | date: 'dd/MM/yyyy'}} </td>
                                      
                                       </tr>
                                       <tr>
                                            <tr>
                             
                                                    <td width="71%"><b>Cover To:</b></td>
                                                   <td width="29%">{{quickSumm.PERIOD_TO | date: 'dd/MM/yyyy'}}</td>
                                                   </tr>
                                                  
                                        
                                         <tr>
                                        <td width="71%"><b>Total Premium:</b></td>
                                       <td width="29%">{{quickSumm.TOTAL_PREMIUM | number:'1.0-2'}}</td>
                                       </tr>
                                       <tr>
                             
                                        <td width="71%"><b>Taxes:</b></td>
                                       <td width="29%">{{quickSumm.TAX  | number:'1.0-2'}}</td>
                                       </tr>
    
    
                          </table>
                         
                    </div>
                </div>
            </div>
    
           
    
            <div class="col-md-6">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h5 class="panel-title">Risk Details</h5>           
                    </div>
                    <div class="panel-body">
                            <table class="table condensed" style="text-align:left">
                                    <tr>
                                     
                                        <td width="55%"><b>Insured:</b></td>
                                        <td width="45%">{{quickSumm.INSURED}}</td>
                                        </tr>
                                        <tr>
                                     
                                            <td width="71%"><b>Risk ID:</b></td>
                                            <td width="29%">{{risk.RISK_ID}}</td>
                                            </tr>
                                            <tr>
                                     
                                             <td width="71%"><b>sum Insured:</b></td>
                                            <td width="29%">{{risk.SUM_INSURED| number:'1.0-2'}}</td>
                                            </tr>
                                            <tr>
                                     
                                                <td width="20%"><b>Premium:</b></td>
                                               <td width="70%">{{risk.PREMIUM | number:'1.0-2'}} </td>
                                              
                                               </tr>
                                               
                                                    <tr>
                                     
                                                       
                                                <td width="20%"><b>Cover Type:</b></td>
                                                <td width="70%">{{risk.CLASSGRP}} </td>
                                                           </tr>
                                                          
                                                           <tr>
                             
                                                                <td width="71%"><b>Class of Insurance:</b></td>
                                                                <td width="29%">{{risk.RISK_CLASS}}</td>
                                                                </tr>
                                                
                                              
            
            
                                  </table>
                    </div>
                </div>
            </div>
    
    
            
            <div class="col-md-12">
                    <div class="panel panel-success" style="border-bottom:solid 3px rgb(138, 135, 135)">
                        <div class="panel-heading">
                            <h5 class="panel-title">Benefits</h5>           
                        </div>
                        <div class="panel-body">
                                <table class="table condensed" style="text-align:left">
                                        <thead>
                                                <tr>
                                                    <td><b>Code</b></td>
                                                    <td><b>Section</b></td>
                                                    <td><b>Rate</b></td>
                                                    <td><b>Amount</b></td>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let sect of benefits" >
                                                    <td>{{sect.SECTION_CODE | number:'1.2' }}</td>
                                                    <td>{{sect.SECTION_DESCRIPTION}}</td>
                                                    <td>{{sect.PREMIUM_RATE  | number:'1.0-2'}}</td>
                                                    <td>{{sect.PREMIUM_AMOUNT  | number:'1.0-2'}}</td>
                                                </tr>
                                            </tbody>
                                                  
                
                
                                      </table>
                        </div>

                       
                    </div>
                   
                </div>
        
                
        </div>
    
    
                 
    </div>
    
    