<!-- main app container -->
<div class="text-center">
    <h2 style="text-align:center">
        <a href="#" target="_top"><img src="../assets/header.PNG" alt="INSYNC SOLUTIONS" width="280"/></a> Online Insuarance Portal
    </h2>

</div>
<div class="jumbotron">
    <div class="container">
        <div class="col-sm-8 col-sm-offset-2">
            <alert></alert>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

<!-- credits -->
<div class="text-center">
    <p>
       <i>Powered by</i><a href="http://www.synchrony.co.ke" target="_top"><img src="../assets/footer.PNG" alt="INSYNC SOLUTIONS"/></a>
    </p>

</div>