 <div class="container"
        fxLayout
        fxLayout.xs="column"
        fxLayoutAlign="right"
        fxLayoutGap="2px"
        fxLayoutGap.xs="0">
        
        <p class="nav1"></p>
        
 
        <div class="item item-1" fxFlex >
                 <div class="inner1">
                        
                    <div class="reg">  
                            <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <h5 class="panel-title"> Product Listing</h5>           
                                    </div> 
                         
                        <div class="table-responsive">  
                        <table class="table table-fixed " border="0" cellpadding="5" cellspacing="1" style="width:120%">  
                        <thead class="thead-default thead"> 
                        <th width="35%" class="th">Product Category</th>  
                        <th width="65%" class="th"><div class="prod1">Product Name</div></th>  
                        </thead>  
                        <tbody style="text-align:left" class="tbody">  
                        <tr *ngFor="let pol of products | async" scope="row">  
                        <td width="40%"><div class="prod">{{pol.CATEGORY}}</div></td>  
                        <td width="60%"><div class="prod" style="margin-left:20px">{{pol.PRODUCT_NAME}}</div></td> 
                        <td></td>    
                    </tr>  
                        </tbody>  
                        </table>  
                        </div>  
                 </div>  
                 </div>
                 </div>
        </div>
            
 
        <div class="item item-3" fxFlex="0%"> </div>
          
        <div class="item item-2" fxFlex="0%" fxFlexOrder="3">   </div> 
               
 </div>
 

