<!--<div class="footer1">
        <table>
                <th class="nav1">
                        
                      </th>
            <tr>
                
                <td class="profile">
                        <h3>Welcome:.<br>{{currentUser.firstName}}</h3>
                        <p><img src="../assets/Preloader1.gif" alt="Welcome"/></p>
                        <p><u>Edit/View Profile</u></p>
                </td>
                <td class="link" style="text-align:left">
                    <img src="../assets/cover2.jpeg" alt="">
                </td>
                <td class="logout">
                        
                </td>
            </tr>
        </table>
        <!--<h3>All registered users:</h3>
                        <ul>
                             <li *ngFor="let user of users">
                                {{user.username}} ({{user.firstName}} {{user.lastName}})
                                - <a (click)="deleteUser(user.id)">Delete</a>
                            </li>
                        </ul> 


<!DOCTYPE html>
<html>
<head>
  
</head>
<body>
    <table>
        <tr>
            <td>
                    <div class="footer1">
                            <p class="nav1"></p>
                            <table>
                                <tr>
                                    <td>
                                  <div class="user">
                                         <h3>Welcome:.<br>{{currentUser.firstName}}</h3>
                                         <p><img src="../assets/Preloader1.gif" alt="Welcome"/></p>
                                         <p><u>Edit/View Profile</u></p>
                                         <ul style="text-align:left">
                                                 <p><strong><i>Useful Links</i></strong></p>
                                                 <li>
                                                     <a [routerLink]="['/products']">View Products</a>
                                                 </li>
                                                 <li>
                                                     <a [routerLink]="['/quatations']">Request/View Quatation</a>
                                                 </li>
                                                 <li>
                                                    <a [routerLink]="['/policies']">View Ploicies</a>
                                                 </li>
                                                 <li>
                                                     <a [routerLink]="['/claims']">Notify/View Claims</a>
                                                 </li>
                                                 <li>
                                                     <a [routerLink]="['/query']">Post Query</a>
                                                 </li>
                                                 <li>
                                                     <a [routerLink]="['/profile']">view Profile</a>
                                                 </li>
                                                 <li>
                                                     <a [routerLink]="['/renew']">Renew your policy</a>
                                                 </li>
                                             </ul>
                                    </div>
                                        
                                    </td>
                                </tr>
            </td>
            <td width="600" border="0" align="center" cellpadding="2" cellspacing="1" >
                            <tr align="center" id="listTableHeader">
                              <td width="200">Class </td>
                               <td width="400">Description </td>
                              <td width="200">Category</td>
                              <td width="280">Action</td>
                            </tr>

            </td>
        </tr>
    </table>
    
</body>
</html>
-->

 <div class="container"
        fxLayout
        fxLayout.xs="column"
        fxLayoutAlign="right"
        fxLayoutGap="5px"
        fxLayoutGap.xs="0">
        
        <p class="nav1"></p>
        <div class="item item-1" fxFlex="25%">
              <div class="user">
                     <h3>Welcome:{{currentUser.cust_code}}</h3>
                     <p><img src="../assets/Preloader1.gif" alt="Welcome"/></p>
                     <p><u>Edit/View Profile</u></p>
                     <ul style="text-align:left">
                             <p><strong><i>Useful Links</i></strong></p>
                             <li>
                                 <a [routerLink]="['/products']">View Products</a>
                             </li>
                             <li>
                                 <a [routerLink]="['/quatations']">Request/View Quatation</a>
                             </li>
                             <li>
                                <a [routerLink]="['/policies']">View Ploicies</a>
                             </li>
                             <li>
                                 <a [routerLink]="['/claims']">Notify/View Claims</a>
                             </li>
                             <li>
                                 <a [routerLink]="['/query']">Post Query</a>
                             </li>
                             <li>
                                 <a [routerLink]="['/profile']">view Profile</a>
                             </li>
                             <li>
                                 <a [routerLink]="['/renew']">Renew your policy</a>
                             </li>
                             <li>
                                <a [routerLink]="['/rqu']">New Quatation</a>
                            </li>
                         </ul>
                </div>
        </div>
          
        <div class="item item-2" fxFlex="5%" fxFlexOrder="3">   </div> 
               
 
        <div class="item item-3" fxFlex ="70%">
                 <div class="inner">
                    <div class="reg">  
                        <div class="table-responsive">  
                        <table class="table ">  
                        <thead class="thead-default"> 
                        <th>Product Category</th>  
                        <th>Product Name</th>  
                        </thead>  
                        <tbody style="text-align:left">  
                        <tr *ngFor="let pol of products | async" scope="row">  
                        <td>{{pol.CATEGORY}}</td>  
                        <td>{{pol.PRODUCT_NAME}}</td> 
                        </tr>  
                        </tbody>  
                        </table>  
                        </div>  
                        <div class="col-md-offset-3 col-md-3">  
                       <p> <a routerLink="/home" class="btn btn-warning">Home</a>||||
                        <a routerLink="/claims" class="btn btn-warning">EMPLOYEES DETAIL</a></p> 
                          
                     </div>  
                 </div>  
                 </div>
        </div>
            
 
 </div>
 

