
<div class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="right" fxLayoutGap="5px" fxLayoutGap.xs="0">
        <p class="nav1"></p>
    
        <div class="item item-1" fxFlex="5%"></div>
        <div class="item item-3" fxFlex>
            <div class="inner1">
                    <div class="panel panel-success">
                            <div class="panel-heading1">
                                <h5 class="panel-title"></h5>           
                            </div> 
                <div class="quick">
                    <table class="tabb">
                        <tr>
                            <td >
                                <div style="margin-top:20px; border-bottom:solid 3px rgb(109, 107, 107)">
                                    
                                    <form style="display:inline-block" name="form"  #f="ngForm" novalidate>
                                           
                                        <div class="floating-box3">
                                                  <label>Product:</label> 
                                   <div class="pro_sel">
                                    <select class="form-control" name="p_class" [(ngModel)]="quickQuote.p_class" (change)="onSelect($event.target.value)">
                                            <option value="0">--Select--</option>
                                            <option *ngFor="let category of categories | async" scope="row" value= {{category.CLASS_ID}} >{{category.DESCRIPTION}}</option>
                                          </select>
                                         </div>
                                     </div>
                                                    
                                             <div class="floating-box3" >
                                                    <label>Cover-type:</label>
                                                <div class="pro_sel">
                                                        <select  class="form-control" name=" p_classgrp" [(ngModel)]="quickQuote.p_classgrp" (change)="onSelection($event.target.value, $event.target.value)" >
                                                                <option *ngIf='selectedCategory.class_id == null && selectedProd.code == null' value="0">--Select--</option>
                                                                <option *ngFor="let prod of prods | async" scope="row"  value= {{prod.CODE}} name=" p_classgrp" >{{prod.DESCRIPTION}}</option>
                                                              </select>
                                                          
                                                </div> 
                                                </div>

                                          <div class="floating-box3" >
                                            <label>Benefits:</label>
                                        <div class="pro_sel">
                                                <select  class="form-control" name="p_classsect" [(ngModel)]="quickQuote.p_classsect">
                                                        <option *ngIf='selectedProd.code == null' value="0" >--Select--</option>
                                                        <option *ngFor="let section of sections | async" scope="row"  value= {{section.SECTION_NO}} >{{section.SECTION_DESCRIPTION}}</option>
                                                      </select>
                                                      
                                        </div>  
                                        </div>
                                         <br> <br>
                                         <div class="floating-box" >Start Date
                                                <input type="date" #p_start_date class="form-control" [(ngModel)]="quickQuote.p_start_date" name="p_start_date" required/>
                                                
                                            </div>
                                            
                                            
                                            <div class="floating-box"  >End Date
                                                <input type="date" #p_end_date class="form-control"  required [(ngModel)]="quickQuote.p_end_date" name="p_end_date" required/>
                                                
                                            </div>
                                            
                                            <div class="floating-box" >Sum Insured
                                                <input type="number" #p_sum_insured class="form-control" required [(ngModel)]="quickQuote.p_sum_insured" name="p_sum_insured" required/>
                                                
                                            </div>
                                            <br><br>

                                           <div class="floating-box">Client Number
                                                    <input type="text" class="form-control"  [(ngModel)]="quickQuote.p_client_code" name="p_client_code" readonly/>
                                                   
                                                </div>
                                            

                                                <div class="floating-box" >Risk
                                                        <input type="text" #p_risk_name class="form-control" [(ngModel)]="quickQuote.p_risk_name" name="p_risk_name" required/>
                                                       
                                                    </div> 

                                          <div class="floating-box" >Year of Manufacture
                                              <input type="text" #p_age class="form-control" [(ngModel)]="model.p_age" name="p_age" required/>
                                                 
                                             </div>
                                        <!--  <div class="floating-box">Risk Age
                                                <input type="text" #p_man class="form-control" [(ngModel)]="quickQuote.p_man" name="p_man" readonly/>
                                                         
                                               </div> -->

                                                    <!-- <div class="floating-box">Vehicle Desc <input type="text" class="form-control" id="desc" required [(ngModel)]="model.desc" name="description"></div> -->
                                                    <div class="form-group">
                                                           <!-- <button [disabled]="loading" (click)="saveQuote()" class="btn btn-primary">Submit</button> -->
                                                           <button [disabled]="loading" (click)="saveQuote()" class="btn btn-primary">Submit</button>
                                                            <a [routerLink]="['/profile']" class="btn btn-link">Cancel</a>
                                                        </div>
                                    </form>
                                </div>
                            </td>
                        </tr>
                       
                    </table>
                   
                          
                </div>
    
            </div>
            </div>
        </div>
    
        <div class="item item-2" fxFlex="5%" fxFlexOrder="3"> </div>
    
    </div>