<div>
        <mat-card class="panel panel-info">
                <div class="panel-heading"
                 fxLayout
                fxLayout.xs="column"
                fxLayoutAlign="right"
                fxLayoutGap="5px"
                fxLayoutGap.xs="0">

                <div class="item item-1" fxFlex > 
                                <div  class="panel-title" style="text-align: left"> Welcome {{currentUser.surname}} </div>
                </div>

                <div class="item item-2" fxFlex="20%"> </div>

          <div class="item item-3" fxFlex="40%" fxFlexOrder="3">   
                        <div  class="panel-title" style="text-align: right"> Logged in as: {{currentUser.entity_category}}</div>
          </div> 
    

                  
                </div>
                <hr>
                <mat-card-content>
                  <mat-tab-group>
                    <mat-tab label="Personal Details">
                      <hr>
                      <div class="container panel panel-success">
          
          
                        <div class="panel-heading">
                          <h5 class="panel-title" style="text-align: left">Personal Details</h5>
                        </div>
                        <br>
                        <div style="text-align:left">
          
                        <mat-card>
                                <div>Full Name: {{currentUser.surname}} {{currentUser.other_names}}</div>
                                <br>
                                <div>Email: {{currentUser.email}}</div>
                                <br>
                                <div>First Name: {{currentUser.surname}}</div>
                                <br>
                        
                                <div>Birth Date: {{currentUser.dob | date: 'dd/MM/yyyy'}}</div>
                        
                        </mat-card>
                          <br>
                        </div>
                      </div>
                    </mat-tab>
                    <mat-tab label="Questions Summary">
                      <hr>
                      <div class="container panel panel-success">
          
          
                        <div class="panel-heading">
                          <h5 class="panel-title" style="text-align: left">Question Details</h5>
                        </div>
                        <br>
                        <h1>Coming Soon</h1>
                        <p>...</p>
                      </div>
                    </mat-tab>
                    <mat-tab label="Contact">
                      <hr>
                      <div class="container panel panel-success">
          
          
                        <div class="panel-heading">
                          <h5 class="panel-title" style="text-align: left">Contact Details</h5>
                        </div>
                        <br>
                        <div style="text-align:left">
          
                        <mat-card>
                            <div>Town: {{currentUser.town}}</div>
                            <br>
                            <div>Country: {{currentUser.country}}</div>
                            <br>
                            <div>Email: {{currentUser.email}}</div>
                            <br>
                            <div>Phone: {{currentUser.mobile_number}}</div>
                        </mat-card>
                         
                          <br>
                        </div>
                      </div>
                    </mat-tab>
                  </mat-tab-group>
          
                </mat-card-content>
                <small style="text-align: center">
                    Your Details as at:  {{myTime | date : 'dd/MM/yyyy, h:mm a'}}
                 </small>
              </mat-card>
</div>