<div class="footer1"> 
        <p class="nav1"></p>
<table>
    <tr>
        <td>
                <div class="user">
                        <h3>Welcome:.<br>{{currentUser.cust_code}}</h3>
                        <p><img src="../assets/Preloader1.gif" alt="Welcome"/></p>
                        <p><u>Edit/View Profile</u></p>
                        <ul style="text-align:left">
                                <p><strong><i>Useful Links</i></strong></p>
                                <li>
                                    <a [routerLink]="['/products']">View Products</a>
                                </li>
                                <li>
                                    <a [routerLink]="['/quatations']">Request/View Quatation</a>
                                </li>
                                <li>
                                   <a [routerLink]="['/policies']">View Ploicies</a>
                                </li>
                                <li>
                                    <a [routerLink]="['/claims']">Notify/View Claims</a>
                                </li>
                                <li>
                                    <a [routerLink]="['/query']">Post Query</a>
                                </li>
                                <li>
                                    <a [routerLink]="['/profile']">view Profile</a>
                                </li>
                                <li>
                                    <a [routerLink]="['/renew']">Renew your policy</a>
                                </li>
                            </ul>
                   </div>
                       
        </td>
        <td>
                <div class="inner">
                        <form action="" class="tabb">
                            <table>
                                <tr>
                                    <td>Name:</td>
                                    <td>{{currentUser.first_name}}  {{currentUser.last_name}}</td>
                                </tr><br>
                                <tr>
                                        <td>Mobile No:</td>
                                        <td>{{currentUser.mobile_no}}</td>
                                </tr><br>
                                <tr>
                                        <td>Id Type:</td>
                                        <td>{{currentUser.id_type}}  ID No: {{currentUser.id_number}}</td>
                                </tr><br>
                                <tr>
                                        <td>Email:</td>
                                        <td>{{currentUser.email}}</td>
                                </tr><br>
                                <tr>
                                        <td>Postal Adress:</td>
                                        <td>{{currentUser.postal_address}}--{{currentUser.postal_code}}  {{currentUser.town}}  {{currentUser.country}}</td>
                                </tr><br>
                                <tr>
                                        <td>Contact Person:</td>
                                        <td>{{currentUser.contact_person}}</td>
                                </tr><br>
                                <tr>
                                        <td>Pin No:</td>
                                        <td>{{currentUser.pin_number}}</td>
                                </tr><br>
                                <tr>
                                        <td>Occupation:</td>
                                        <td>{{currentUser.occup_description}}</td>
                                </tr><br>
                                <tr>
                                        <td>Gender:</td>
                                        <td>{{currentUser.gender}}</td>
                                </tr>
                            </table>
                        </form>
                </div>
        </td>
    </tr>
</table>
</div>