<div class="inner1">
                <div class="panel panel-success">
                                <div class="panel-heading1">
                                    <h5 class="panel-title"></h5>           
                                </div> 
        <div class="query">

                <form name="form" (ngSubmit)="f.form.valid && Query()" #f="ngForm" novalidate>
                        <table class="tabb" >
                                <tr class="form-group2" [ngClass]="{ 'has-error': f.submitted && !CUST_CODE.valid }">
                                        <td>Client No </td>
                                        <td>
                                                <input type="text" class="form-control" name="CUST_CODE" [(ngModel)]="model.CUST_CODE" #CUST_CODE="ngModel" readonly />
                                                <div *ngIf="f.submitted && !CUST_CODE.valid" class="help-block">Client Number is required</div>

                                        </td>

                                </tr> <br>
                                <tr class="form-group2" [ngClass]="{ 'has-error': f.submitted && !EMAIL.valid }"> 
                                        <td>Email</td>
                                        <td>
                                                <input type="text" class="form-control" name="EMAIL" [(ngModel)]="model.EMAIL" #EMAIL="ngModel" readonly />
                                                <div *ngIf="f.submitted && !EMAIL.valid" class="help-block">Email is needed</div>
                                        </td>

                                </tr> <br>
                                <tr class="form-group2" [ngClass]="{ 'has-error': f.submitted && !ISSUE_CATEGORY.valid }">

                                        <td>Category</td>
                                        <td>
                                                <div class="but2">
                                                        <div class="but1">
                                                                <label class="radio-inline">
                                                                        <input type="radio" value="Quatation" name="ISSUE_CATEGORY" [(ngModel)]="model.ISSUE_CATEGORY" #ISSUE_CATEGORY="ngModel"
                                                                        />Quatation
                                                                        <br>
                                                                        <br>
                                                                </label>
                                                                <label class="radio-inline">
                                                                        <input type="radio" value="Renewal" name="ISSUE_CATEGORY" [(ngModel)]="model.ISSUE_CATEGORY" #ISSUE_CATEGORY="ngModel" />Renewal
                                                                        <br>
                                                                        <br>
                                                                </label>
                                                                <label class="radio-inline">
                                                                        <input type="radio" value="Endorsement" name="ISSUE_CATEGORY" [(ngModel)]="model.ISSUE_CATEGORY" #ISSUE_CATEGORY="ngModel"
                                                                        />Endorsement
                                                                        <br>
                                                                        <br>
                                                                </label>
                                                                <br>
                                                                <label class="radio-inline">
                                                                        <input type="radio" value="Cancellation" name="ISSUE_CATEGORY" [(ngModel)]="model.ISSUE_CATEGORY" #ISSUE_CATEGORY="ngModel"
                                                                        />Cancellation
                                                                        <br>
                                                                        <br>
                                                                </label>
                                                                <label class="radio-inline">
                                                                        <input type="radio" value="Motor" name="ISSUE_CATEGORY" [(ngModel)]="model.ISSUE_CATEGORY" #ISSUE_CATEGORY="ngModel" />Motor
                                                                        <br>
                                                                        <br>
                                                                </label>
                                                                <label class="radio-inline">
                                                                        <input type="radio" value="Suspension" name="ISSUE_CATEGORY" [(ngModel)]="model.ISSUE_CATEGORY" #ISSUE_CATEGORY="ngModel"
                                                                        />Suspension
                                                                        <br>
                                                                        <br>
                                                                </label>
                                                                <br>
                                                                <label class="radio-inline">
                                                                        <input type="radio" value="Others" name="ISSUE_CATEGORY" [(ngModel)]="model.ISSUE_CATEGORY" #ISSUE_CATEGORY="ngModel" />Others
                                                                        <br>
                                                                        <br>
                                                                </label>

                                                                <div *ngIf="f.submitted && !ISSUE_CATEGORY.valid" class="help-block">Category is required</div>
                                                        </div>
                                                </div>
                                        </td>

                                </tr> <br>

                                <tr class="form-group2" [ngClass]="{ 'has-error': f.submitted && !NARRATION.valid }">
                                        <td>Message</td>
                                        <td>
                                                <textarea class="form-control" name="NARRATION" [(ngModel)]="model.NARRATION" #NARRATION="ngModel" cols="50" rows="6" required></textarea>

                                                <div *ngIf="f.submitted && !NARRATION.valid" class="help-block">Massage is required</div>
                                        </td>

                                </tr>
                        </table>
                        <div class="form-group">
                                <button [disabled]="loading" class="btn btn-primary">submit</button>
                                <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
                                />
                                <a [routerLink]="['/']" class="btn btn-link">Cancel</a>
                        </div>
                </form>
                <div>
                </div>
                </div>