<div class="inner1">
  <!--  <p>
        <img src="../assets/welcom.jpg" height="370" width="600" alt="Welcome">
    </p> -->
<div style="text-align:left" class="tabb">
        <div class="panel panel-success">
                <div class="panel-heading">
                    <h5 class="panel-title">Attachment Details</h5>           
                </div>
    <form action="">
        <div class="form-group2"> Dcon No:
            <input class="form-control" type="text" name="dcon_no" [(ngModel)]="model.dcon_no">
        </div>
        <div class="form-group2"> File Name:
            <input class="form-control" type="text" name="file_name" [(ngModel)]="model.file_name">
        </div>
        <div class="form-group2"> Upload
            <input  type="file" name="upload" [(ngModel)]="model.upload" accept=".pdf,.doc,.png,.docx,.jpg,.jpeg">
        </div>
    </form>
</div>
</div>


</div>