<div class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="right" fxLayoutGap="2px" fxLayoutGap.xs="0">

    <div class="item item-1 col-md-3" fxFlex>
        <div class="wrapper tab">
            <nav class="navbar navbar-inverse">
                <div class="container-fluid" style="background-color: rgb(28, 29, 29)">
                    <div class="navbar-header">
                        <a class="navbar-brand" style="text-align: center; margin-left: 30px">
                            <div class="logo">
                                <img class="img_round" src="../assets/profile.png" width="60" height="60" alt="Welcome" />
                            </div>
                        </a> 
                        <div class="navbar-toggle" (click)="onToggleMenu()">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </div>
                    </div>
                    <br>
                    <br>
                    <br>
                    <div class="collapse navbar-collapse" [ngClass]="{'toggleMenuStyle': toggleMenu === true}">

                        <ul class="nav navbar-nav" style="text-align: left; color: rgb(17, 16, 16);">
                            <li>
                                <a [routerLink]="['/profile']">Profile</a>
                             </li>
                                <br>
                            <li>
                                <a [routerLink]="['/set']">Set New Quiz</a>
                            </li>
                            <br>
                            <li>
                                <a [routerLink]="['/approved']">Aproved Questions</a>
                            </li>
                            <br>
                            <li>
                                <a [routerLink]="['/unapproved']">Unapproved Questions</a>
                            </li>
                            <br>

                            <li>
                                <a [routerLink]="['/login']">Logout</a>
                            </li>


                        </ul>
                    </div>
                </div>
            </nav>
        </div>

    </div>
    <div class="item item-2" fxFlex="0%"> </div>

    <div class="item item-3 col-md-92" fxFlex="78%" fxFlexOrder="3" style="text-align:center">
        <!--  <div class="nav2"><p style="text-align:left">email: {{currentUser.email}}</p> </div> -->

        <router-outlet></router-outlet>


    </div>
</div>