<div class="footer1">
        <p class="nav1"></p>
    <table>
        <tr>
            <td class="user">
                    <h4 style="text-align:left">Welcome: {{currentUser.cust_code}}</h4>
                    <h5 style="text-align:left">Contact: {{currentUser.mobile_no}}.</h5>
                    <p><img src="../assets/Preloader1.gif" alt="Welcome"/></p>
                    <h5 style="text-align:left">Email: {{currentUser.email}}</h5>
                    
                    <div style="text-align:left">
                        <ul>
                            <p><strong><i>Useful Links</i></strong></p>
                            <li>
                                <a [routerLink]="['/products']">View Products</a>
                            </li>
                            <li>
                                <a [routerLink]="['/quatations']">Request/View Quatation</a>
                            </li>
                            <li>
                               <a [routerLink]="['/policies']">View Ploicies</a>
                            </li>
                            <li>
                                <a [routerLink]="['/claims']">Notify/View Claims</a>
                            </li>
                            <li>
                                <a [routerLink]="['/query']">Post Query</a>
                            </li>
                            <li>
                                <a [routerLink]="['/profile']">view Profile</a>
                            </li>
                            <li>
                                <a [routerLink]="['/renew']">Renew your policy</a>
                            </li>
                            <li>
                                    <a [routerLink]="['/preg']">Product Registration</a>
                                </li>
                            <li>
                                <a [routerLink]="['/login']">Logout</a>
                            </li>
                            <li>
                                    <a href="api/employees">EMPLOYEES</a>
                            </li>
                            <li>
                                    <a href="api/dep">DEPARTMENTS</a>
                            </li>
                        </ul>
                        
                    </div>
            </td>
       
            
            <td>
                <table>
                    <tr>
                        <td>
                                 <div class="inner">

                                 </div>
                    
                        </td>
                    </tr>
                </table>
                 
            </td>
        </tr>
    </table>
   <!--<div class="text-center">
       <label class="btn btn-default">
        Upload Image
        <input type="file" hidden (change)="uploadFile($event)">
       </label>
   </div>
-->


    <!--<h3>All registered users:</h3>
                    <ul>
                         <li *ngFor="let user of users">
                            {{user.username}} ({{user.firstName}} {{user.lastName}})
                            - <a (click)="deleteUser(user.id)">Delete</a>
                        </li>
                    </ul> -->
</div>

